<div class="jumbotron">
    <h1>Centro de Mensajes</h1>
    <br>

    <input type="text" id="inputUsername" class="form-control w-50 my-2 mr-2" placeholder="Ingresá tu email">

    <hr>

    <div id="mensajes"></div>

    <form id="formPublicarMensaje" class="form-inline" autocomplete="off">
        <div class="form-group">
            <input disabled id="inputMensaje" type="text" class="form-control my-2 mr-2"
                    placeholder="Ingresá un mensaje...">
            <button disabled id="btnEnviar" type="submit" class="btn btn-primary my-2">Enviar!</button>
        </div>
    </form>
</div>