  {{#if mensajes}}
    {{#each mensajes}}
      <div class="message-item">
        <span class="author">{{this.autor.id}}</span>
        <span>
          [<span class="date">{{this.fyh}}</span>]:
        </span>
        <span class="message">{{this.texto}}</span>
      </div>
    {{/each}}
  {{/if}}