
<% if(prod != undefined){ %>
    <div>
        <ul><%=prod.title%></li>
        <ul><%=prod.price%></li>
        <ul><%=prod.thumbnail%></li>
        <ul><%=prod.id%></li>
    </div>
<% } else { %>
    <h3 class="alert alert-danger"> No se encontraron datos</h3>
<% } %>