<h1>Ingrese los datos</h1>
<br>
<form action="http://localhost:8080/api/productos" method="post">
    <div class="form-group">
        <label for="title"><b>title</b></label>
        <input type="text" id="title" class="form-control" name="title">
    </div>

    <div class="form-group">
        <label for="price"><b>price</b></label>
        <input type="number" id="price" class="form-control" name="price">
    </div>

    <div class="form-group">
        <label for="thumbnail"><b>thumbnail</b></label>
        <input type="text" id="thumbnail" class="form-control" name="thumbnail">
    </div>

    <button class="btn btn-success mt-3 mb-5" type="submit" value="Send">Submit</button>
</form>